/** Contains global mixin definitions used throughout the project. */

/** Specify styles only for certain window sizes (xs/sm/md/lg). */
@mixin respond-to($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $class == sm {
    @media (min-width: 767px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $class == md {
    @media (min-width: 991px) and (max-width: 1199px) {
      @content;
    }
  }

  @else if $class == lg {
    @media (min-width: 1199px) {
      @content;
    }
  }

  @else if $class == sm-lower {
    @media (max-width: 991px) {
      @content;
    }
  }
}

@mixin flex-style($direction, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
