
/** Contains global variables used throughout the project In the future,
we may want to override these values in theme-specific files. */

/** Fonts used in branding (logos, application title, etc.) */
$font-stack-brand: 'Century Gothic', sans-serif !default;

// Fonts used in page headers (h1-h6). Separate to allow easy modification in
// the future.
$font-stack-headers: $font-stack-brand;

// Fonts used in body text. Separate to allow easy modification in the future.
$font-stack-body: $font-stack-brand;

// Fonts used for displaying code.
$font-stack-code: 'Letter Gothic Std', monospace !default;

// Primary brand color and variants.
// TODO: These colors are very similar, and used interchangeably for navigation
//  items. Should probably merge these.
$color-primary: #2b3990 !default;
$color-primary-dark: #232d73 !default;
// TODO: Both of these colors are used for hover effects, it would be better to
//  just stick to one color. Should probably use the dark variant on light
//  surfaces and vice versa.
$color-primary-light: #5561a6 !default;
$color-primary-extra-light: #aab0d3 !default;
$color-primary-ultra-light: #eceeff !default;

// Surface colors, for elements that are not typically styled using our brand
// colors.
$color-background: #ffffff !default;
$color-surface: #ffffff !default;
$color-error: #b00020 !default;

// Colors for typography and iconography. These colors are meant for elements
// that appear on top of elements styled using the primary/surface colors.
$color-on-primary: #ffffff !default;
$color-on-background: #000000 !default;
$color-on-surface: #000000 !default;
$color-on-error: #ffffff !default;

// Color for multiple areas in a notebook, like search interface,
// code blocks
$color-gray-dark: #e6e6e6 !default;
$color-gray-light: #f2f2f2 !default;
$color-gray: #e6e6e6 !default;


// Height settings of the tab (responsiveness)
$tab-height-small: 15px !default;
$tab-height-large: 35px !default;

// Height settings of the topbar
$topbar-height-large: 40px;
$topbar-height-small: 30px;