doc/
node_modules/
out/
.DS_Store
dist/

tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Script outputs
All_Notebooks.wpn

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron
.nyc_output

# Recent files list
src/io/recentFileList.json
recentFileList.json

# Shortcuts
shortKeys.json

build/icons/*
scripts/unit_tests.tex

# wpwrapper logs
/wpwrapper.*

# compiled Coq libraries
*.vo
*.vos
*.vok

wrapper/**/*.v

*.glob
*.vok
*.vos
*.aux
*.log
# Some files that Coq produces sometimes,
# probably when compiling a .v file
*.*.aux

# Some auxiliary file produced by some build-in tactic
.lia.cache
