//
// Standard styles for common HTML elements.
//

/**
 * By default, any element's width and height are applied only to its content
 * box, i.e. adding a border or padding will increase the element's size.
 *
 * This sets a saner default: any element's width and height are applied to its
 * border box. Hence, adding a border or padding will not alter the element's
 * size but decrease the content box's size instead. This makes it much easier
 * to size elements.
 *
 * See https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing for more
 * information.
 */
html {
  box-sizing: border-box;
}

/**
 * We let all other elements inherit (from html). This will make it easier to
 * change this setting for e.g. plugins or components in the future.
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Don't underline links.
 */
a {
  text-decoration: none;
}
