//
// Font face definitions.
//

$base-font-url: './../fonts/';

@font-face {
  font-family: 'Century Gothic';
  src: url($base-font-url + '/CenturyGothic/CenturyGothic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url($base-font-url + '/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url($base-font-url + '/CenturyGothic/CenturyGothic-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Century Gothic';
  src: url($base-font-url + '/CenturyGothic/CenturyGothic-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url($base-font-url + '/LetterGothicStd/LetterGothicStd.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url($base-font-url + '/LetterGothicStd/LetterGothicStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url($base-font-url + '/LetterGothicStd/LetterGothicStd-Slanted.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Letter Gothic Std';
  src: url($base-font-url + '/LetterGothicStd/LetterGothicStd-BoldSlanted.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
