/** Basic typography styles */
body {
  color: $color-on-surface;
  font: normal 125% / 1.4 $font-stack-body;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: $font-stack-headers;
}

p {
  margin-bottom: 1rem;
}
