$header-height-large: 40px;
$header-height-small: 20px;

.response-window {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  // @include respond-to(sm-lower) {
  //   flex-direction: row;
  // }

  // Both the goals and the message header share the same properties.
  .response-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: $header-height-large;
    background: $color-primary-light;
    color: $color-on-primary;
    padding-left: 5px;

    @include respond-to(sm-lower) {
      height: $header-height-small;
    }

    h3 {
      @include respond-to(sm-lower) {
        font-size: 14px;
      }
    }

    .clear-messages-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      transition: 0.3s;

      &:hover {
          background-color: $color-primary-dark;
          cursor: pointer;
      }

      .trash-icon {
        height: 20px;
        @include respond-to(sm-lower) {
          height: 13px;
        }
      }
    }

  }

  // The response window consists of the goals and the messages window
  .goals-window {
    flex: 1 0 70%;
    overflow: hidden;

    @include respond-to(sm-lower) {
      flex-basis: 65%;
    }

    .goals {
      width: calc(100% - 5px);
      height: calc(100% - #{$header-height-large});
      margin-right: 5px;
      overflow-y: scroll;
      @include respond-to(sm-lower) {
        height: calc(100% - #{$header-height-small});
      }

      .goal {
        border: 1px transparent solid;
        padding-top: 20px;

        &:hover {
          border: 1px gray dashed;
        }
      }
    }
  }

  .messages-window {
    flex: 1 0 30%;
    overflow: hidden;

    @include respond-to(sm-lower) {
      flex-basis: 35%;
      border-left: 2px solid $color-primary-light;
    }

    .messages {
      height: calc(100% - #{$header-height-large});
      padding: 0.2em 0;
      overflow-y: scroll;

      @include respond-to(sm-lower) {
        height: calc(100% - #{$header-height-small});
      }
    }
  }
}