$font-to-use: Century Gothic;
$tab-height: 36px;

html, body {
  height: 100%;
  margin: 0;
}

.CodeMirror {
  height: 100%;
}

/** Largest building block of Edit */
.container-fluid {
  @include flex-style(column);
  height: inherit;
  padding: 0;

  /** It contains two components: the topbar and the content div */
  .content {
    @include flex-style(row);
    height: 100%;
    overflow: auto;
  }
}


// This is the gutter that keeps track of how far along the execution is
.exec-gutter {
  background-color: #f2f2f2;
  width: 40px;
  height: 0;
  margin-right: 5px;
  position: relative;
}


$bar-animation-duration: .25s;
$bar-animation-timing: ease-in-out;

.exec-bar {
  position: absolute;
  background-color: $color-primary;
  width: 10px;
  left: 15px;
  top: 10px;
  transition: height $bar-animation-duration $bar-animation-timing;
}

.exec-ball {
  position: absolute;
  background-color: $color-primary;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  left: 10px;
  background-size: cover;
  transition: top $bar-animation-duration $bar-animation-timing;
  // Make sure the balls are drawn over top of the gutter lines
  z-index: 2;
}

.top-icon {
  height: 40px;
  padding: 9px 5px 9px 6px;
  float: left;
  cursor: pointer;
  background-color: $color-primary !important;
}

.edit-text-text {
  background-color: #c0c0c0;
}

.sidebar-button {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap;
  block-size: 35px;
  user-select: none;
  transition: 0.3s;

  &:hover:not(.disabled) {
    background: $color-primary-light;
  }
}

.show {
  display: block;
}

.tabs {
  width: 100%;
  height: 100%;
  background-color: $color-primary;
}

.nav {
  margin: 0;
  padding: 0;
  background-color: $color-primary;
  max-width: 50%;
  height: $tab-height;
  border: none;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap;

  &:hover {
    overflow-x: auto;
  }
}

.nav::-webkit-scrollbar {
  height: 4px;
}

.nav::-webkit-scrollbar-track {
  background: $color-gray-dark;
}

.nav::-webkit-scrollbar-thumb {
  background: $color-primary;
}

.nav-link {
  padding: 3px 10px 4px 10px;
  margin-right: 1px;
  color: $color-on-background;
  background-color: $color-gray-dark;
  display: flex;
  align-items: center;
  height: $tab-height - 1px;

  &:hover {
    background-color: $color-gray-light;
  }
}

.tab-active {
  background-color: $color-on-primary;
  padding: 3px 10px 5px 10px;
  height: $tab-height;

  &:hover {
    background-color: $color-on-primary;
  }
}

.tab-text {
  color: $color-on-background;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  display: inline-block;
  margin-right: 8px;
}

.close-cross {
  display: inline-block;
}

.tab-content {
  width: 100%;
  height: calc(100% - #{$tab-height});
  background-color: $color-on-primary;
}

.tab-pane {
  width: 100%;
  height: 100%;
}

.new-tab-button {
  padding: 3px 10px 3px 10px;
  margin-bottom: 1px;
  background-color: $color-gray-dark;
  border: none;
  height: $tab-height - 1px;

  &:hover, &:active {
    background-color: $color-gray-light;
  }
}

.floatyEditor {
  position: absolute;
  left: 8px;
  box-shadow: 2px 2px 15px rgb(0.5, 0.5, 0.5);
  z-index: 3;
}
