$font-to-use: Century Gothic;

html, body {
  height: 100%;
  margin: 0;
}

.CodeMirror {
  height: 100%;
  word-break: break-word;
}

.CodeMirror-wrap pre {
  word-break: break-word;
}

/** Largest building block of Edit */
.container-fluid {
  @include flex-style(column);
  height: 100%;
  padding: 0;
  overflow: hidden;

  /** It contains two components: the topbar and the content div */
  .content {
    @include flex-style(row);
    height: calc(100% - 40px);
    overflow: hidden;

    @include respond-to(sm-lower) {
      height: calc(100% - 30px);
    }
  }
}

// This is the gutter that keeps track of how far along the execution is
.exec-gutter {
  background-color: #f2f2f2;
  width: 40px;
  height: 0;
  margin-right: 5px;
  position: relative;
}


$bar-animation-duration: .25s;
$bar-animation-timing: linear;

.exec-bar {
  position: absolute;
  background-color: $color-primary;
  width: 20px;
  left: 10px;
  top: 10px;
  transition: height $bar-animation-duration $bar-animation-timing;
  z-index: 3;
  border: 5px solid $color-gray-light;
  border-bottom: 0;
}

.exec-ball {
  position: absolute;
  background-color: $color-primary;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  left: 10px;
  background-size: cover;
  transition: top $bar-animation-duration $bar-animation-timing;
  // Make sure the balls are drawn over top of the gutter lines
  z-index: 4;
}

.pending-bar {
  position: absolute;
  border: 2px solid $color-primary;
  border-bottom: 0;
  //background: linear-gradient(to bottom, $color-primary 0%, $color-gray-light 100%);
  background: $color-gray-light;
  width: 10px;
  left: 15px;
  top: 10px;
  z-index: 2;
}

.pending-ball {
  position: absolute;
  border: 2px solid $color-primary;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  left: 10px;
  background-size: cover;
  // Make sure the balls are drawn over top of the gutter lines
  z-index: 1;
}

.edit-text-text {
  background-color: #c0c0c0;
}

.show {
  display: block;
}

.tabs {
  width: 100%;
  height: 100%;
  background-color: $color-primary;
}

.tab-text {
  color: $color-on-background;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
  display: inline-block;
  margin-right: 8px;
}

.tab-content {
  width: 100%;
  height: calc(100% - #{$tab-height-large});
  background-color: $color-on-primary;

  @include respond-to(sm-lower) {
    height: calc(100% - #{$tab-height-small});
  }
}

.tab-pane {
  width: 100%;
  height: 100%;
}


.floatyEditor {
  position: absolute;
  left: 8px;
  box-shadow: 2px 2px 15px rgb(0.5, 0.5, 0.5);
  z-index: 3;
}
