/** Contains the components of each dropdown menu
        (so buttons, list items and links). */

@import '../colors.scss';

.topbar-dropdown {
  /** The menu buttons (File, Edit, Coq, Help) */
  button {
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    height: 100%;
    @include theme(background-color, color-primary);

    @include respond-to(sm-lower) {
      font-size: 13px;
    }

    &:hover {
      border: none;
      @include theme(background-color, color-primary-light);
    }

    &:active {
      border: none;
      @include theme(background-color, color-primary-dark, null, !important);
    }
  }

  /** The items in each dropdown menu */
  ul {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    @include theme(background-color, color-primary-dark);
    @include theme(color, color-on-primary);
  }

  /** The actions of each item*/
  a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white !important;
    font-family: Century Gothic;

    &:hover {
      @include theme(background-color, color-primary-light);
    }
    &:focus {
      @include theme(background-color, color-primary-light);
    }
    &.disabled {
      color: gray;
    }
  }
}